extends layout
block content
	a(class='backbutton', href='/home') Back	
	div.container-fluid
		img.logo(src='images/KPTH_Logo.png').img-rounded.img-responsive.center-block
	div.container-fluids
		label(for='addNewUser') Please add the details of the new user
			form.form-group.form-centered(name="addNewUser", method="post", action="/create")
					input(type="text", name="username",value=username, placeholder="Username")
					br
					br
					input(type="text", name="surname",value=surname, placeholder="Surname")
					br
					br
					input(type="text", name="email",value=email, placeholder="Email")
					br
					br
					input(type="text", name="user_rights",value=user_rights, placeholder="User Rights")
					br
					br
					input(type="text", name="password",value=password, placeholder="Password")
					br
					br
					input(type="text", name="department",value=department, placeholder="Department")
					br
					br
					input(type="text", name="staff_type",value=staff_type, placeholder="Staff Type")
					br
					br
					input.btn.btn-info.biggerheight(type="submit", value="Save")

		
				
