extends index
block extFiles
    link(rel='stylesheet', href='/stylesheets/stats.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"')
    script(src='https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"')
    script(src='https://cdn.jsdelivr.net/jquery/1/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js')
    script(src='/javascripts/stats.js')
block contentRight
    .container.graphbox
        .graph-wrapper
            .graph
        .graph-interaction
            .graph-interaction-header
                h2 Queries
            .query-form
                #datepicker.input-daterange.input-group.date.center-block
                    form(name="queryForm", autocomplete="off", method="post")#mainQuery
                        div.form-group.text-center
                            select(name='TypeOfQuery')
                                option(value='avgAge',   selected=avgAge) Average Age
                                option(value='avgNum', selected=avgNum) Average Stay
                                option(value='numAd', selected=numAd) Average Number Of Admissions
                                option(value='numEmerg',   selected=numEmerg) Emergency Operations
                                option(value='numElec', selected=numElec) Elective Operations
                        div.form-group.text-center
                            select(name='TypeOfSearch')
                                option(value='none',   selected=none) None
                                option(value='week',   selected=week) Weekly
                                option(value='month', selected=month) Monthly
                                option(value='year', selected=year) Yearly
                        div.form-group.input-daterange.input-group
                            input#StartDate.input-sm.form-control(type='date', name='startDate', placeholder='Date 1')
                            span.input-group-addon
                                span.glyphicon.glyphicon-calendar
                        div.form-group
                            input.btn.btn-primary.btn-block(type="submit", value="Search Query", id="search")
                    script.
                        $('#StartDate').daterangepicker(
                        {
                            locale: {
                                format: 'YYYY-MM-DD h:mm:ss'
                            },
                            startDate: '2014-01-01',
                            endDate: '2014-12-31'
                        },
                        function (start, end, label) {
                            startDate = start.format('YYYY-MM-DD h:mm:ss');
                            endDate = end.format('YYYY-MM-DD h:mm:ss');
                        });

                        $("#mainQuery").on("submit", function (e) {
                            e.preventDefault();
                            var period = $('#TypeOfSearch :selected').text();
                            var stats = $('#TypeOfQuery :selected').text();
                            $.ajax({
                                type: 'POST',
                                url: '/findSelectedQuery',
                                data: JSON.stringify({
                                    forQuering: {
                                        start: startDate,
                                        end: endDate,
                                        periodQuery: period,
                                        statsQuery: stats
                                    }
                                }),
                                dataType: "json",
                                contentType: "application/json"
                            });
                        });

            .graph-interaction-header.graph-interaction-stats
                h2 Statistics
