extends index
block extFiles
    link(rel='stylesheet', href='/stylesheets/stats.css')
    //link(rel='stylesheet', href='https://cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"')
    link(rel='stylesheet', href='/stylesheets/fancySelectors/cs-select.css')
    link(rel='stylesheet', href='/stylesheets/fancySelectors/cs-skin-elastic.css')
    //script(src='https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"')
    script(src='https://cdn.jsdelivr.net/jquery/1/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js')
    script(src='/javascripts/stats.js')
    script(src='/javascripts/fancySelectors/classie.js')
    script(src='/javascripts/fancySelectors/selectFx.js')

block contentRight
    .container.graphbox
        .graph-wrapper.media-middle
            .graph.media-object
        .graph-interaction
            .graph-interaction-header
                h2 Queries
            .stats-section
                #datepicker.input-daterange.date.center-block
                    form(name="queryForm", autocomplete="off", method="post")#mainQuery
                        div.form-group
                            select(id='TypeOfQuery').cs-select.cs-skin-elastic
                                option(value='', disabled='', selected='') Select Statistics Data
                                option(value='avgAge',   data-class='age', selected=avgAge) Average Age
                                option(value='avgNum', data-class='stay', selected=avgNum) Average Hospital Stay
                                option(value='numAd', data-class='admissions', selected=numAd) Average Number Of Admissions
                                option(value='numEmerg', data-class='emergency',  selected=numEmerg) Emergency Operations
                                option(value='numElec', data-class='elective', selected=numElec) Elective Operations
                        div.form-group
                            section
                                select(id='TypeOfSearch').cs-select.cs-skin-elastic
                                    option(value='', disabled='', selected='') Select an Interval
                                    option(value='none', data-class='nothing',  selected='none') None
                                    option(value='none', data-class='day',  selected='day') Daily
                                    option(value='week', data-class='week'  selected=week) Weekly
                                    option(value='month', data-class='month' selected='monthly') Monthly
                                    option(value='year', data-class='year' selected=year) Yearly
                        div.form-group.input-daterange
                            input#StartDate.form-control(type='text', name='startDate', placeholder='Date 1').date-custom
                            i.glyphicon.glyphicon-calendar
                        div.form-group
                            input.btn.btn-custom.btn-block(type="submit", value="Query", id="search")
                    script.
                        $('#StartDate').daterangepicker(
                        {
                            locale: {
                                format: 'YYYY-MM-DD'
                            },
                            startDate: '2014-01-01',
                            endDate: '2014-12-31',
                            opens: 'left',
                            "applyClass": "btn-block btn-custom btn-top",
                            "cancelClass" : "btn-block btn-bottom"
                        },
                        function (start, end, label) {
                            startDate = start.format('YYYY-MM-DD');
                            endDate = end.format('YYYY-MM-DD');
                        });

                        $("#mainQuery").on("submit", function (e) {
                            e.preventDefault();
                            var period = $('#TypeOfSearch :selected').text();
                            var stats = $('#TypeOfQuery :selected').text();
                            $.ajax({
                                type: 'POST',
                                url: '/findSelectedQuery',
                                data: JSON.stringify({
                                    forQuering: {
                                        start: startDate,
                                        end: endDate,
                                        periodQuery: period,
                                        statsQuery: stats
                                    }
                                }),
                                dataType: "json",
                                contentType: "application/json"
                            });
                        });

            .graph-interaction-header
                h2 Statistics
            .overall-stats.stats-section
                p
                    b Overall Average age:
                    em.pull-right #{avgAge}
                p
                    b Average Stay Days:
                    em.pull-right #{avgStay}
            .graph-interaction-header
                h2 Options
            .stats-section(style="height:30%;")
                div(style="height:60%")
                    .input-group
                        input(type="image", src="/images/bar.png")
                        input(type="image", src="/images/line.png")
                .btn-group.btn-group-justified
                    .btn-group
                        button(type="button").btn.btn-custom Predict
                    .btn-group
                        button(type="button").btn.btn-custom.blue Save as PDF
            script.
                (function() {
                    [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
                    new SelectFx(el);
                } );
                })();