extends index
block extFiles
    script(src='javascripts/Chart.js')
    script(src='javascripts/statistics.js')
    link(href='stylesheets/statistics.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/fancySelectors/cs-select.css')
    link(rel='stylesheet', href='/stylesheets/fancySelectors/cs-skin-elastic.css')
    link(rel='stylesheet', href='/stylesheets/daterangepicker/daterangepicker.css')
    script(src='/javascripts/moment.js')
    script(src='/javascripts/daterangepicker/daterangepicker.js')
    script(src='/javascripts/d3/d3.min.js')
    script(src='/javascripts/stats.js')
    script(src='/javascripts/fancySelectors/classie.js')
    script(src='/javascripts/fancySelectors/selectFx.js')
    script(src='/libs/angular/angular.min.js')
    link(rel='stylesheet', href="/libs/perfect-scrollbar/min/perfect-scrollbar.min.css")
    script(src="/libs/perfect-scrollbar/min/perfect-scrollbar.min.js")
    script(src='/javascripts/app.js')
    link(rel='stylesheet', href='/stylesheets/stats.css')
block mainContent
    .area
        .container.graphbox
            .graph-wrapper.media-middle
                .graph
                //.third.widget.doughnut
                    h3 Overall Procedures in Kalafong Hospital
                      p
                      .canvas-container
                        canvas#hoursnpmnpm
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        span.status
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      .chart-legend
                        ul
                          li.admin Elective Procedures
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          li.prod Emergency Procedures
            .graph-interaction
                .graph-interaction-header
                    h2 Queries
                .stats-section
                    #datepicker.input-daterange.date.center-block
                        form(name="queryForm", autocomplete="off", method="post")#mainQuery
                            div.form-group
                                select(id='TypeOfQuery').cs-select.cs-skin-elastic
                                    option(value='', disabled='', selected='') Select Statistics Data
                                    option(value='avgAge',   data-class='age', selected=avgAge) Number of Admissions
                                    option(value='avgNum', data-class='stay', selected=avgNum) Hospitalization Periods
                                    option(value='numAd', data-class='admissions', selected=numAd) Emergency Operations
                                    option(value='numEmerg', data-class='emergency',  selected=numEmerg) Elective Operations
                                    //option(value='numElec', data-class='elective', selected=numElec) Type of Surgery
                            div.form-group
                                section
                                    select(id='TypeOfSearch').cs-select.cs-skin-elastic
                                        option(value='', disabled='', selected='') Select an Interval
                                        option(value='none', data-class='nothing',  selected='none') None
                                        option(value='none', data-class='day',  selected='day') Daily
                                        option(value='week', data-class='week'  selected=week) Weekly
                                        option(value='month', data-class='month' selected='monthly') Monthly
                                        option(value='year', data-class='year' selected=year) Yearly
                            div.form-group.input-daterange
                                input#StartDate.form-control(type='text', name='startDate', placeholder='Date 1').date-custom
                                i.glyphicon.glyphicon-calendar
                            div.form-group
                                button.btn.btn-custom.btn-block(type="Submit", value="submit", id="search" onclick="")
                                    | Query
                        script.
                            $('.area').perfectScrollbar();
                            $('#StartDate').daterangepicker(
                            {
                                locale: {
                                    format: 'YYYY-MM-DD'
                                },
                                startDate: '2014-01-01',
                                endDate: '2014-12-31',
                                opens: 'left',
                                "applyClass": "btn-block btn-custom btn-top",
                                "cancelClass" : "btn-block btn-bottom"
                            },
                            function (start, end, label) {
                                startDate = start.format('YYYY-MM-DD');
                                endDate = end.format('YYYY-MM-DD');
                            });

                            $("#mainQuery").on("submit", function (e) {
                                e.preventDefault();
                                var period = $('#TypeOfSearch :selected').text();
                                var stats = $('#TypeOfQuery :selected').text();
                                $.ajax({
                                    type: 'POST',
                                    url: '/findSelectedQuery',
                                    beforeSend: function(xhr){
                                        $("#search").html("<img src='/images/loader.gif' height = '30px' />");
                                    },
                                    data: JSON.stringify({
                                        forQuering: {
                                            start: startDate,
                                            end: endDate,
                                            periodQuery: period,
                                            statsQuery: stats
                                        }
                                    }),
                                    success: function (data, textStatus, jqXHR){
                                        $("#search").html("Query");
                                        var res = JSON.parse(jqXHR.responseText);
                                        var resBus = JSON.stringify(res.myStatsArry);
                                        updateGraph(res.myStatsArry, "Test");
                                        //window.location = '/statistics.html?myObject=' + resBus;
                                    },
                                    dataType: "json",
                                    contentType: "application/json"
                                });
                            });
                            var one = #{elCount}; var two = #{emCount}
                            var data = [{value : one,color : "#dbba34"},{value : two,color : "#c62f29"}];
                            var canvas = document.getElementById("hours");
                            var ctx = canvas.getContext("2d");
                            new Chart(ctx).Doughnut(data);


                .graph-interaction-header
                    h2 Statistics
                .overall-stats.stats-section
                    p
                        b Overall Average age:
                        em.pull-right #{avgAge}
                    p
                        b Average Stay Days:
                        em.pull-right #{avgStay}
                .graph-interaction-header
                    h2 Options
                .stats-section(style="height:30%;")
                    div(style="height:55%")
                        .input-group
                            input(type="image", src="/images/bar.png")
                            input(type="image", src="/images/line.png")
                    .btn-group.btn-group-justified
                        .btn-group
                            button(type="button" onclick="anim()").btn.btn-custom Predict
                        .btn-group
                            button(type="button").btn.btn-custom.blue Save as PDF

