extends index
block extFiles
    link(rel='stylesheet', href='/stylesheets/stats.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js')
    script(src='/javascripts/stats.js')
block contentRight
    div.mainStatsDiv
            .input-group.date
                #datepicker.input-daterange.input-group
                    input#StartDate.input-sm.form-control(type='date', name='startDate', placeholder='Date 1')
                    span.input-group-addon
                        span.glyphicon.glyphicon-calendar to
                    input#EndDate.input-sm.form-control(type='date', name='endDate', placeholder='Date 2')
                    span.input-group-addon
                        span.glyphicon.glyphicon-calendar
                    span.input-group-btn
                    input.btn.btn-primary.btn-block(type="submit", value="Search Query", id="search", style='margin-left:8px; width:120px;height:30px;')
            script.
                $(function () {
                    $('#StartDate').datetimepicker();
                    $('#EndDate').datetimepicker();
					
                });

            div#divPeriod
            p Select search period
            select(name='TypeOfSearch')
              option(value='week',   selected=week) Weekly 
              option(value='month', selected=month) Monthly
              option(value='year', selected=year) Yearly

            div#divStats
            p Select Statistics
            select(name='TypeOfQuery')
              option(value='avgAge',   selected=avgAge) Average age of woman patients are admitted 
              option(value='avgNum', selected=avgNum) Average number of days patients stay 
              option(value='numAd', selected=numAd) Number of admissions over a period
              option(value='numEmerg',   selected=numEmerg) Number of emerging operations over a period 
              option(value='numElec', selected=numElec) Number of elective operations over a period

    div.container.graphbox
        div.graph-wrapper
            div.graph
        div.graph-interaction